NODE_ENV=development
DB_SYNCHRONIZE=true
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=accessibility_db
REDIS_HOST=localhost
REDIS_PORT=6379
STORAGE_ENDPOINT=
STORAGE_REGION=auto
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_BUCKET_NAME=accessibility-evidence
STORAGE_FORCE_PATH_STYLE=false
CULQI_API_BASE_URL=https://api.culqi.com/v2
CULQI_PUBLIC_KEY=
CULQI_SECRET_KEY=
CULQI_MONTHLY_PEN_PLAN_ID=
CULQI_ANNUAL_PEN_PLAN_ID=
CULQI_MONTHLY_USD_PLAN_ID=
CULQI_ANNUAL_USD_PLAN_ID=
CULQI_MONTHLY_PEN_AMOUNT=
CULQI_ANNUAL_PEN_AMOUNT=
CULQI_MONTHLY_USD_AMOUNT=
CULQI_ANNUAL_USD_AMOUNT=
CULQI_WEBHOOK_SECRET=
