NODE_ENV=development
DB_SYNCHRONIZE=true
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=accessibility_db
REDIS_HOST=localhost
REDIS_PORT=6379
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123
MINIO_BUCKET=accessibility-evidence
CULQI_API_BASE_URL=https://api.culqi.com/v2
CULQI_PUBLIC_KEY=
CULQI_SECRET_KEY=
CULQI_MONTHLY_PEN_PLAN_ID=
CULQI_ANNUAL_PEN_PLAN_ID=
CULQI_MONTHLY_USD_PLAN_ID=
CULQI_ANNUAL_USD_PLAN_ID=
CULQI_MONTHLY_PEN_AMOUNT=
CULQI_ANNUAL_PEN_AMOUNT=
CULQI_MONTHLY_USD_AMOUNT=
CULQI_ANNUAL_USD_AMOUNT=
CULQI_WEBHOOK_SECRET=
